body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  font-size: 1.5em;
}

.form-control{
  font-size: 1em;
  margin-top: 5px;
}
.btn-primary{
  font-size: 1em;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-inverse .navbar-brand {
    color: #f2f2f2;
    font-size: 2em;
}
.navbar-inverse .navbar-nav>li>a {
    color: #f2f2f2;
    font-size: 1.5em;

}